@media (max-width: 1120px) {
  .skills__inner {
    padding-left: 0;
  }
  .title {
    font-size: 34px;
    line-height: 45px;
  }
  .footer-box {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1040px) {
  .our-courses__img img {
    margin-bottom: 15px;
  }
}
@media (max-width: 890px) {
  .skills__inner {
    flex-wrap: wrap;
  }
  .skills__descr-title {
    max-width: 870px;
    margin-top: 40px;
    text-align: center;
  }
  .skills__descr-text {
    text-align: center;
  }
  .skills__descr {
    max-width: none;
  }
  .our-courses {
    padding: 0;
  }
  .footer-box {
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
  }
  .col-logo {
    min-width: 100%;
    // margin-bottom: -20px;
    margin-right: 0;
  }
  .footer-box__col ul {
    padding-top: 30px;
  }
  .homework__inner-btn {
    margin-left: 0;
  }
  .homework__inner-btn button {
    margin-left: 8px;
    margin-bottom: 8px;
  }
}
@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }
  .menu ul {
    display: none;
    position: absolute;
    z-index: 2;
    top: 90px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
  }
  .menu__list li {
    display: block;
    text-align: center;
    border-top: 1px solid #6c63e8;
    line-height: 40px;
    &:last-child {
      border-bottom: 1px solid #6c63e8;
    }
    a {
      color: #070707;
      &:hover {
        color: #6c63e8;
      }
    }
  }
  .menu__list li + li {
    margin-left: 0;
  }
  .our-courses__title {
    margin-bottom: 27px;
  }
  .question.active,
  .question {
    margin-left: 20px;
    font-size: 14px;
  }

  .answer {
    margin-left: 35px;
    font-size: 14px;
  }
  .footer__inner {
    padding-bottom: 0;
  }
  .footer-box {
    justify-content: flex-start;
  }
}

@media (min-width: 700px) {
  .menu ul {
    display: block !important;
  }
}
