@mixin f400 {
  font-family: "IBM Plex Serif";
  font-weight: 400;
}
@mixin f600 {
  font-family: "IBM Plex Serif";
  font-weight: 600;
}
@mixin f700 {
  font-family: "IBM Plex Serif";
  font-weight: 700;
}
