@import "global";
@import "vars";

// start header
.header__inner {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 41px;
  img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.menu {
  height: 24px;
}
.menu__list {
  li {
    display: inline-block;
    a {
      color: #070707;
      &:hover {
        color: #6c63e8;
      }
    }
  }
  li + li {
    margin-left: 38px;
  }
}
.header__box {
  a + a {
    margin-left: 26px;
  }
}
.menu-indicator {
  position: fixed;
  right: 8px;
  top: 50%;
  z-index: 1;
  li {
    position: relative;
    &::after {
      position: absolute;
      right: 30px;
      content: "";
      background-color: #52e8b3;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      top: 8px;
    }
    a {
      line-height: 24px;
      font-weight: 500;
      color: #505050;
      font-size: 0px;
      display: flex;
      justify-content: flex-end;
      padding-right: 72px;
    }
  }
  li:hover,
  .menu-indicator.active-section {
    position: relative;
    &::after {
      right: 48px;
      content: "";
      background-image: url(../images/menu-ind.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 13px;
      height: 12px;
    }
    a {
      font-size: 14px;
    }
  }
}
// end header

// start skills
.skills__inner {
  display: flex;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 49px;
  margin-bottom: 73px;
}
.skills-info {
  position: absolute;
  height: 184px;
  max-width: 432px;
  width: 100%;
  bottom: 5px;
  padding-right: 30px;
  z-index: 1;
}
.skills__descr {
  max-width: 310px;
  width: 100%;
}
.skills__descr-title {
  margin-top: 160px;
  max-width: 247px;
  margin-bottom: 39px;
}
.skills__descr-text {
  margin-bottom: 38px;
}
.btn-skills {
  position: relative;
  button {
    background: #9189f1;
    border-radius: 8px;
    padding: 17px 40px 15px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    border: none;
  }
  img {
    position: absolute;
    top: -5px;
    left: -8px;
  }
}
.skills__inner-row__slider {
  max-width: 484px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.arrows-dots {
  width: 26px;
  height: 118px;
  margin-top: 353px;
  border-radius: 24px;
  position: relative;
}
.slider {
  max-width: 432px;
  width: 100%;
}
.skills__slider-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 432px;
  width: 100%;
  height: 472px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 48.96%,
    rgba(108, 99, 232, 0.6) 63.02%,
    #6c63e8 100%
  );
  border-radius: 8px;
}
.slick-arrow {
  font-size: 0;
  width: 23px;
  height: 23px;
  outline: none;
  border: none;
}
.slick-prev.slick-arrow {
  background: url(../images/prev.svg) no-repeat;
  position: absolute;
  left: 2px;
}

.slick-next.slick-arrow {
  background: url(../images/next.svg) no-repeat;
  position: absolute;
  top: 96px;
  left: 2px;
}
.slick-next:before,
.skills__slick-arrow:before,
.slick-next:after,
.skills__slick-arrow:after {
  display: none;
}
.slick-dots {
  height: 118px;
  position: absolute;
  left: 3px;
  top: 34px;
  height: 47px;
  background-color: #6c63e8;
  opacity: 0.3;
  border-radius: 24px;
  padding: 0 8px;
}
.slick-dots button {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  cursor: pointer;
  outline: none;
  display: flex;
  margin-top: 8px;
}
.slick-dots .slick-active button {
  background-color: #fff;
}

// end skills

// start our-courses
.our-courses {
  padding-top: 104px;
  margin-bottom: 90px;
}
.our-courses__title {
  margin-bottom: 56px;
}
.our-courses__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.our-courses__item {
  position: relative;
}
.our-courses__img img {
  max-width: 496px;
  width: 100%;
  margin-bottom: 48px;
}
.our-courses__info {
  max-width: 496px;
  width: 100%;
  height: 209px;
  position: absolute;
  top: 323px;
  padding-right: 29px;
}
// end our-courses

// start testimonials
.testimonials__title {
  margin-bottom: 56px;
}
.testimonials__inner {
  padding: 0 125px;
  position: relative;
}

.item_inner {
  display: flex;
  justify-content: space-between;
}

.author__name {
  width: 142px;
  margin-right: 30px;
}
.author__image {
  width: 169px;
  height: 162px;
  margin-right: 35px;
}
.thumbs-item img {
  width: 40px;
  height: 40px;
}

// end testimonials

// start homework
.homework__title {
  margin-top: 109px;
  margin-bottom: 56px;
}
.homework__inner-btn {
  margin-bottom: 29px;
  margin-left: 88px;
  button {
    border: 2px solid #52e8b3;
    border-radius: 16px;
    padding: 4px 16px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  button + button {
    margin-left: 8px;
  }
}
.homework__inner-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.homework__item {
  margin-bottom: 22px;
}
.box__btn {
  margin-top: 7px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  color: #6c63e8;
  margin-bottom: 106px;
  border: none;
  margin-right: 24px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  &::after {
    content: "";
    background-image: url(../images/icons/arrow.svg);
    width: 23px;
    height: 23px;
    position: absolute;
    right: 406px;
  }
}
// end homework
// start question
.questions-answer__title {
  margin-bottom: 56px;
}
.questions-answer ul {
}
.question {
  width: 656px;
  background-color: #5048c7;
  box-shadow: 0px 5px 5px rgba(145, 137, 241, 0.3),
    0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14);
  border-radius: 22px;
  font-size: 16px;
  line-height: 140%;
  padding: 17px 10px 23px 70px;
  margin-bottom: 32px;
  color: white;
  margin-left: 176px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
  &::before {
    content: "+";
    font-size: 34px;
    @include f400;
    position: absolute;
    left: 29px;
    top: 14px;
  }
}
.answer::before {
  transform: rotate(45deg);
}
.question.active,
.answer {
  width: 656px;
  background-color: #e3e0fd;
  border-radius: 22px 22px 22px 0px;
  font-size: 16px;
  line-height: 140%;
  padding: 17px 10px 23px 70px;
  margin-bottom: 32px;
  color: #000;
  margin-left: 176px;
}
.question.active {
  position: relative;
  &::before {
    content: "+";
    font-size: 34px;
    @include f400;
    position: absolute;
    left: 29px;
    top: 14px;
    transform: rotate(45deg);
    color: #fff;
  }
}
.answer {
  border-radius: 22px 22px 0 22px;
  margin-left: 208px;
  display: none;
}
.answer.active {
  display: block;
}
// end questions-answer

// start message
.message {
  padding-top: 104px;
  padding-bottom: 111px;
}
.message__title {
  margin-bottom: 64px;
}
.message__form {
  position: relative;
  margin-bottom: 26px;
  margin-left: 163px;
  input {
    max-width: 503px;
    width: 100%;
    height: 56px;
    background-color: rgba(145, 137, 241, 0.1);
    border-radius: 8px;
    padding-left: 26px;
    padding-right: 290px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 16px;
    color: rgba(80, 80, 80, 0.7);
    border: none;
    outline: none;
    ::placeholder {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 16px;
      color: rgba(80, 80, 80, 0.7);
    }
  }
  button {
    height: 56px;
    width: 242px;
    background-color: #9189f1;
    border-radius: 8px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    right: 188px;
    top: 0px;
  }
  img {
    position: absolute;
    right: 178px;
    top: -6px;
  }
}

.social {
  padding-left: 189px;
}

.social__link li {
  display: inline-block;
  a {
    width: 40px;
    height: 40px;
  }
}
.link-twitter {
  background-image: url(../images/icons/twitter.svg);
}
.link-facebook {
  background-image: url(../images/icons/facebook.svg);
}
.link-instagramm {
  background-image: url(../images/icons/instagramm.svg);
}
.link-youtube {
  background-image: url(../images/icons/youtube.svg);
}
.link-watsapp {
  background-image: url(../images/icons/watsapp.svg);
}
.link-viber {
  background-image: url(../images/icons/viber.svg);
}
// end message
// start footer

.footer__inner {
  background-color: rgba(145, 137, 241, 0.9);
  padding-top: 57px;
  padding-bottom: 72px;
}
.footer-box {
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 12px;
  margin-bottom: 65px;
}
.footer-box__col {
  max-width: 167px;
  width: 100%;
  ul {
    padding-top: 58px;
  }
  a {
    color: #fff;
  }
}

.menu-footer {
  text-align: center;
  margin-bottom: 72px;
  li a {
    color: #fff;
    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
.copy {
  font-size: 12px;
  line-height: 16px;
  color: #505050;
  text-align: center;
  background-color: #fff;
  margin: 8px auto;
}
// end footer
